// $start-color: rgba(255,255,255,0.1);
// $stop-color: rgba(199, 128, 128, 0.1);


.background-container{
    background: url('../track-sleep-pg/nightsky.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: top;
    }

ion-card{
    background: transparent;
    text-align: center;
    font-size: 10px;
    box-shadow: none;
}

ion-card-content{
    margin-top: 40px;
    ion-button{
        --background: rgba(255,255,255,0.1);        
        --border-radius: 40px;
    }
}
ion-card-title{
    padding-bottom: 60px;
}

ion-row{
    padding-bottom: 50px;
}